<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i>     
                    Análise de dados
                </div>

                <div class="card-body">
                    
                    <div class="alert alert-warning text-center">
                        A análise de dados está em desenvolvimento. Em breve será possível extrair diversos dados de pacientes e lesões cadastrados no sistema.
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
