<div class="row">

  <!-- WIDGET -->
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 mt-2 font-weight-bold"> {{ numPacienteCirurgia }} </div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Pacientes cadastrados</div>
      </div>
    </div>
  </div>

  <!-- WIDGET -->
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-medkit bg-success p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-success mb-0 mt-2 font-weight-bold"> {{ numLesaoCirurgia }} </div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Lesões cadastradas</div>
      </div>
    </div>
  </div>  

  <!-- WIDGET -->
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-image bg-warning p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-warning mb-0 mt-2 font-weight-bold"> {{ numImagensCirurgia }} </div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Imagens cadastradas</div>
      </div>
    </div>
  </div>

  <!-- WIDGET -->
  <div class="col-6 col-lg-3">
    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-file-text-o bg-danger p-4 font-2xl mr-3 float-left"></i>
        <div class="h5 text-danger mb-0 mt-2 font-weight-bold"> {{ numLesoesSemHisto }} </div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Lesões sem Histopatológico</div>
      </div>
    </div>
  </div>

</div>