<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! Não tem nada por aqui!</h4>
          <p class="text-muted">A página que você está procurando não existe!</p>
          <p>
             <a 
                routerLink="/dashboard"
             >
                Clique aqui
             </a>
            
            para voltar para a página inicial 
          </p>
        </div>


        <img src="https://media1.tenor.com/images/a828888852e708d9afaaad06c7f9513f/tenor.gif?itemid=10251428" alt="Not Found" 
            style="border: 2px solid rgb(51, 58, 51);">  

      </div>
    </div>
  </div>
</div>
