<div class="animated fadeIn">

    <!-- CARD PARA CASO DE FALHA NA REQUISICAO  -->
    <div class="row" *ngIf="flagFalhaReqURL">
        <div class="col-lg-12">
            
            <div class="card">
                <div class="card-header">
                    <h4> Falha de comunicação <i class="fa fa-exclamation-triangle"></i> </h4>                        
                </div>

                <div class="card-body">
                    <div class="alert alert-danger text-center" role="alert">
                        Infelizmente ocorreu uma falha de comunicação. Tente acessar mais tarde. Caso persista, entre em contato
                        com os desenvolvedores.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CARD PARA CASO DE FALHA NA REQUISICAO  -->

    <!-- BUSCAR CARTÃO SUS CASO NAO VENHA COMO PARAMETRO --> 
    <div class="row" *ngIf="cartaoSusURL === undefined && !flagFalhaReqURL && cartaoSusURL !== 'invalido'">
        <div class="col-lg-12">
            
            <!-- BUSCAR CARTÃO SUS CASO NAO VENHA COMO PARAMETRO -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-search"></i>
                    <span class="tituloTabela"> Buscar Paciente </span>                                                
                </div>

                <div class="card-body">

                    <!-- AVISO PARA CASO NAO ENCONTRE O PACIENTE -->
                    <div class="alert alert-warning text-center" role="alert" *ngIf="pacienteNaoEncontrado">                        
                        <p> O paciente com cartão do sus <strong> {{ cartaoSusForm }} </strong> não está cadastrado no sistema! </p>                                                
                    </div>
                    <!-- AVISO PARA CASO NAO ENCONTRE O PACIENTE -->

                    <!-- INICIO DA BUSCA DO PACIENTE -->
                    <div class="row">
                        <div class="form-group col-8">
                            <!-- POPOVER SOBRE A BUSCA -->
                            <label for="cartaoSus">Digite o número do cartão do SUS: 
                                <button 
                                    class="btn btn-info btn-sm" 
                                    placement="right" 
                                    popover="Para inserir uma lesão, primeiro você deve informar o paciente." 
                                    type="button">
                                    <i class="fa fa-question"></i>
                                </button>
                            </label>
                            <!-- POPOVER SOBRE A BUSCA -->

                            <input 
                                id="cartaoSus"
                                type="text"
                                class="form-control" 
                                [dropSpecialCharacters]="false"
                                [(ngModel)]="cartaoSusForm" 
                                mask="000-0000-0000-0000" 
                                placeholder="000-0000-0000-0000"
                                (click)="resetaAlert()"
                                (keyup)="validaCartaoSus()"
                            >                                
                        </div>                            
                    </div> 

                    <button 
                        type="button"
                        class="btn btn-success"
                        (click)="buscarPacViaBotao()"
                        [disabled]="!cartaoSusValido"
                    >
                        Buscar
                        <i class="fa fa-search"></i>
                    </button>
                    <!-- INICIO DA BUSCA DO PACIENTE -->              

                </div>
            </div>                
        </div>
    </div>        
    <!-- BUSCAR CARTÃO SUS CASO NAO VENHA COMO PARAMETRO --> 

    <!-- CARD PARA CARTAO DA URL INVALIDO  -->
    <div class="row" *ngIf="cartaoSusURL==='invalido' && !flagFalhaReqURL">
        <div class="col-lg-12">
            
            <div class="card">
                <div class="card-header">
                     Falha de comunicação <i class="fa fa-exclamation-triangle"></i>
                </div>

                <div class="card-body">
                    <div class="alert alert-danger text-center" role="alert">
                        <p> O cartão do sus <strong> {{ cartaoSusURL }} </strong> informado na URL não é válido! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CARD PARA CARTAO DA URL INVALIDO  -->

    <!-- CARD PARA CARTAO DA URL NAO ENCONTRADO  -->
    <div 
        class="row" 
        *ngIf="cartaoSusURL!==undefined && !flagFalhaReqURL && cartaoSusURL !== 'invalido' && paciente===undefined"
    >
        <div class="col-lg-12">
            
            <div class="card">
                <div class="card-header">
                        <span class="tituloTabela"> Dados do paciente  </span>
                    <i class="fa fa-address-card-o"></i>
                </div>

                <div class="card-body">
                    <div class="alert alert-warning text-center" role="alert">
                            <p> O paciente com cartão do sus <strong> {{ cartaoSusURL }} </strong> não está cadastrado no sistema! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CARD PARA CARTAO DA NAO ENCONTRADO  --> 
    
    <!-- EXIBINDO OS DADOS DO PACIENTE PARA CONFERÊNCIA DO USUARIO -->
    <div class="row">
        <div class="col-lg-12">

            <!-- CARD COM DETALHES DO PACIENTE SE ELE FOI ENCONTRADO -->
            <div class="card" *ngIf="paciente !== undefined">
                <div class="card-header">
                    <i class="fa fa-address-card-o"></i>
                    <span class="tituloTabela"> Dados do paciente </span>
                    <!-- POPOVER SOBRE O PACIENTE -->                         
                    <button 
                        class="btn btn-info btn-sm" 
                        placement="right" 
                        popover="Caso este não seja o paciente que você deseja inserir uma lesão, por favor, corrija o valor do cartão do sus ou busque por outro paciente" 
                        type="button">
                        <i class="fa fa-comment"></i>
                    </button>                        
                    <!-- POPOVER SOBRE O PACIENTE -->                 
                </div>

                <div class="card-body">                        
                    <strong> Nome: </strong> {{paciente.nomeCompleto}} <br/>
                    <strong> Data de Nascimento: </strong> {{ paciente.dataNascimento | dataStr }} <br/>
                    <strong> Local do último atendimento: </strong> {{ paciente.localUltimoAtendimento }} <br/>
                    <strong> Data do último atendimento: </strong> {{ paciente.dataUltimoAtendimento | dataStr }} <br/>
                    <strong> Lesões cadastradas para o paciente: </strong> {{ paciente.lesoes.length }} <br/>
                </div>

            </div>
            <!-- CARD COM DETALHES DO PACIENTE SE ELE FOI ENCONTRADO -->
        </div>  
    </div>
    <!-- EXIBINDO OS DADOS DO PACIENTE PARA CONFERÊNCIA DO USUARIO -->


    <!--######################################################################################################################-->
    <!--############################## AQUI COMEÇA A INCLUSÃO DA LESÃO DE FATO ###############################################-->
    <!--######################################################################################################################-->

    <div class="row" *ngIf="paciente != undefined && !flagFalhaReqURL">
        <div class="col-lg-12">
            
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-medkit"></i>
                    <span class="tituloTabela"> Adicionando lesões </span>
                    <!-- POPOVER SOBRE A IMAGEM -->                         
                    <button 
                        class="btn btn-info btn-sm" 
                        placement="right" 
                        popover="Você pode enviar uma lesão sem uma imagem da mesma. Porém, é altamente desejável que pelo menos uma imagem da lesão seja anexada." 
                        type="button">
                        <i class="fa fa-comment"></i>
                    </button>                        
                    <!-- POPOVER SOBRE A IMAGEM -->                      
                </div>

                <div class="card-body">

                    <div *ngIf="respUsuario === 'pac-salvo' " class="alert alert-success text-center col-12" role="alert">
                        
                            A lesão com diagnóstico <strong> {{ lesao.diagnosticoClinico }} </strong> contendo <strong> {{ imagens.length }} imagens </strong> foi 
                            adicionada ao paciente <strong> {{ paciente.nomeCompleto }} </strong>
                            <br/>

                            <button
                                style="font-weight: bold;"
                                type="button"
                                class="btn btn-outline-success"
                                routerLink="/dashboard/paciente-cirurgia/novo-histopatologico/{{paciente.cartaoSus}}"
                            >
                                Cadastrar histopatológico
                            </button>                      
                        
                    </div>

                    <div *ngIf="respUsuario === 'erro-salvar-pac' " class="alert alert-danger text-center" role="alert">
                        <p> 
                            Houve um problema ao salvar a lesão para o paciente adicionada ao paciente <strong> {{ paciente.nomeCompleto }} </strong>. Por favor,
                            tente mais tarde. Caso o erro persista, entre em contato com os desenvolvedores.
                        </p>
                    </div>
                    
                    <!-- FORM INSERÇÃO DA LESÃO -->
                    <form
                    #dadosLesao="ngForm" 
                    (ngSubmit)="recebeDadosLesao()"
                    >

                        <!-- LINHA 1 DO FORM DE LESAO -->
                        <div class="row">

                            <!-- DIAGNOSTICO CLINICO -->
                            <div class="form-group col-sm-6">
                                <label for="diagCli">Diagnóstico clínico*: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="diagCli"
                                        class="form-control"                                        
                                        ngModel
                                        name="diagnosticoClinico"
                                        #diagCli="ngModel"
                                        [ngbTypeahead]="completarDiagnostico"  
                                        minlength="3"
                                        required                                   
                                    >
                                    <small 
                                        *ngIf="diagCli.invalid && diagCli.touched" 
                                        class="form-text text-danger">
                                            Diagnóstico clínico é obrigatório
                                    </small>
                                </div>
                            </div>
                            <!-- DIAGNOSTICO CLINICO -->

                            <!-- DIAGNOSTICO SECUNDARIO -->
                            <div class="form-group col-sm-6">
                                <label for="diagCli2">Diagnóstico clínico secundário: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="diagCli2"
                                        class="form-control"                                        
                                        ngModel
                                        name="diagnosticoClinicoSecundario"
                                        minlength="3"
                                        [ngbTypeahead]="completarDiagnostico"                                                                               
                                    >                                
                                </div>
                            </div>
                            <!-- DIAGNOSTICO SECUNDARIO -->
                            
                        </div>
                        <!-- LINHA 1 DO FORM DE LESAO -->

                        <!-- LINHA 2 DO FORM DE LESAO -->
                        <div class="row">

                            <!-- REGIAO -->
                            <div class="form-group col-sm-6">
                                <label for="regiao">Região da lesão*: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="regiao"
                                        class="form-control"                                        
                                        ngModel
                                        name="regiao"
                                        #regiao="ngModel"
                                        [ngbTypeahead]="completarRegiao"    
                                        minlength="2"
                                        required                                                                            
                                    >                                
                                </div>
                                <small 
                                    *ngIf="regiao.invalid && regiao.touched" 
                                    class="form-text text-danger">
                                        Região da lesão obrigatório
                                </small>
                            </div>
                            <!-- REGIAO -->

                            <!-- DIAMETRO MAIOR -->
                            <div class="form-group col-sm-3">
                                <label for="diaM">Diâmetro maior (mm)*: </label>
                                <div>
                                    <input 
                                        type="number" 
                                        id="diaM"
                                        class="form-control"                                        
                                        ngModel
                                        #diaMaior="ngModel"
                                        name="diametroMaior"   
                                        required                                                                            
                                    >                                
                                </div>
                                <small 
                                    *ngIf="diaMaior.invalid && diaMaior.touched" 
                                    class="form-text text-danger">
                                        Diametro maior obrigatório
                                </small>
                            </div>
                            <!-- DIAMETRO MAIOR -->

                            <!-- DIAMETRO MENOR -->
                            <div class="form-group col-sm-3">
                                <label for="diaMe">Diâmetro menor (mm)*: </label>
                                <div>
                                    <input 
                                        type="number" 
                                        id="diaMe"
                                        class="form-control"                                        
                                        ngModel
                                        #diaMenor="ngModel"
                                        name="diametroMenor"                                               
                                        required                                                                            
                                    >                                
                                </div>  
                                <small 
                                    *ngIf="diaMenor.invalid && diaMenor.touched" 
                                    class="form-text text-danger">
                                        Diametro menor obrigatório
                                </small>                                  
                            </div>
                            <!-- DIAMETRO MENOR -->
                        </div>
                        <!-- LINHA 2 DO FORM DE LESAO -->

                        <!-- LINHA 3 DO FORM DE LESAO -->
                        <div class="row">
                            
                            <!-- DATA PROCEDIMENTO -->
                            <div class="form-group col-sm-3">                                    
                                <label for="data">Data do procedimento*: </label>
                                <div>
                                    <input 
                                        type="date" 
                                        data-date-format="dd/MM/yyyy"
                                        max="2999-12-31"
                                        validatedateformat
                                        id="data"
                                        class="form-control"                                        
                                        ngModel
                                        #dataProc="ngModel"
                                        name="dataProcedimento"   
                                        required                                                                            
                                    >       
                                    
                                </div>
                                <small 
                                    *ngIf="dataProc.invalid && dataProc.touched" 
                                    class="form-text text-danger">
                                        Data do procedimento obrigatória
                                </small>                                    
                            </div>
                            <!-- DATA PROCEDIMENTO -->

                            <!-- LOCAL PROCEDIMENTO -->
                            <div class="form-group col-sm-4">                                    
                                <label for="local">Local do procedimento*: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="local"
                                        class="form-control"                                        
                                        ngModel
                                        #localProc="ngModel"
                                        name="localProcedimento"
                                        [ngbTypeahead]="completarLocal" 
                                        required                                                                            
                                    >                                
                                </div>  
                                <small 
                                    *ngIf="localProc.invalid && localProc.touched" 
                                    class="form-text text-danger">
                                        Local do procedimento obrigatório
                                </small>                                   
                            </div>
                            <!-- LOCAL PROCEDIMENTO -->

                            <!-- CIRURGIAO -->
                            <div class="form-group col-sm-5">                                    
                                <label for="cirurgiao">Cirurgiao*: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="cirurgiao"
                                        class="form-control"                                        
                                        ngModel
                                        #cirurgiao="ngModel"
                                        name="cirurgiao" 
                                        [ngbTypeahead]="completarCirurgiao"   
                                        required                                                                            
                                    >                                
                                </div>   
                                <small 
                                    *ngIf="cirurgiao.invalid && cirurgiao.touched" 
                                    class="form-text text-danger">
                                        Nome do cirurgião obrigatório
                                </small>                                  
                            </div>
                            <!-- CIRURGIAO -->

                        </div>
                        <!-- LINHA 3 DO FORM DE LESAO -->

                        <!-- LINHA 4 DO FORM DE LESAO -->
                        <div class="row">

                            <!-- PROCEDIMENTO -->
                            <div class="form-grup col-sm-3">
                                <label for="obs">Procedimento*: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="procedimento"
                                        class="form-control"                                        
                                        ngModel
                                        #proc="ngModel"
                                        name="procedimento"
                                        [ngbTypeahead]="completarProcedimento"                                                                                                                     
                                        required
                                    >                                
                                </div> 
                                <small 
                                    *ngIf="proc.invalid && proc.touched" 
                                    class="form-text text-danger">
                                        Procedimento obrigatório
                                </small> 
                            </div>
                            <!-- PROCEDIMENTO -->

                            <!-- OBSERVACAO -->
                            <div class="form-grup col-sm-5">
                                <label for="obs">Observação: </label>
                                <div>
                                    <input 
                                        type="text" 
                                        id="obs"
                                        class="form-control"                                        
                                        ngModel
                                        name="obs"                                                                                                                     
                                    >                                
                                </div> 
                            </div>
                            <!-- OBSERVACAO -->

                            <!-- IMAGEM -->
                            <div class="form-group col-sm-4">
                                <label for="imagem">Enviar imagens: </label>
                                <div>
                                    <input 
                                        type="file" 
                                        #inputFile
                                        id="imagem"
                                        class="form-control-file" 
                                        multiple                                            
                                        (change)="recebeImagensInput($event)"                                            
                                    >                                
                                </div>
                                <small 
                                    *ngIf="!imgValida && imgValida!== undefined && respUsuario!=='imagem-grande'" 
                                    class="form-text text-danger">
                                        Você está submentendo um arquivo que não é uma imagem!
                                </small>
                                <small 
                                    *ngIf="!imgValida && imgValida!== undefined && respUsuario==='imagem-grande'" 
                                    class="form-text text-danger">
                                        A imagem que você está submetendo é maior do que 10mb. Redimensione a imagem!
                                </small>
                                <small 
                                    *ngIf="imagensForm !== undefined" 
                                    class="form-text text-success">
                                        {{ imagensForm.length }} imagens foram adicionadas
                                </small>
                            </div>
                            <!-- IMAGEM -->                                
                        </div>
                        <!-- LINHA 3 DO FORM DE LESAO -->
                        
                        <!-- BOTAO DE ENVIO -->
                        <div class="form-group float-right" style="margin-top: 15px;">
                            <button
                                type="submit"
                                [disabled]="dadosLesao.invalid || imgValida === false || enviando"
                                class="btn btn-success btn-lg"
                            >
                            Enviar
                            <i class="fa fa-send"></i>
                            </button>
                        </div>
                        
                        <!-- BOTAO DE ENVIO -->


                    </form>
                    <!-- FORM INSERÇÃO DA LESÃO -->



                </div>
            </div>
        </div>
    </div>

</div>


<!-- MODAL ENVIANDO -->
<div bsModal #modalEnviando="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">

    <div class="modal-body text-center">

        <h4> Enviando os dados da lesão. Por favor, aguarde. </h4>

        <i class="fa fa-spinner fa-3x fa-spin" style="color: #1e66bd;"></i>

    </div>
</div>
</div>
<!-- MODAL ENVIANDO -->